<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 여긴 초기 테스트용을 정의한 부분..실제 게시판의 내용은 이 주석 블락 이후부터 재정의함.-->
<!-- /* 
<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
	<th:block th:fragment="content">
		<h1>GuestBook List Page</h1>
	</th:block>
</th:block>
*/-->




<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

	<th:block th:fragment="content">
		<h1 class="mt-4">Guest Book List Page</h1>
		<!-- 등록 버튼..이건 리스트 후에 작업 할것.. -->



		<table class="table table=striped">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">GNO</th>
					<th scope="col">Title</th>
					<th scope="col">RegDate</th>
				</tr>
			</thead>

			<!-- PageResultDTO.dtoList 의 이름으로 호출한다.. 
			<tbody>
				<tr th:each="dto : ${list.dtoList}">
					<th scope="row"></th>
					<td>[[${dto.gno}]]</td>
					<td>[[${dto.title}]]</td>
					<td>[[${#temporals.format(dto.regDate, 'yyyy-MM/dd')}]]</td>
				</tr>
			</tbody>
		</table>

		<ul class="pagination h-100 justify-content-center align-items-center">
			<li th:if="${list.prev}">
				<a th:href="#">previews</a>
			</li>
			<li th:each="page : ${list.pageList}">
				<a th:href="@{/guestbook/list(page=${page})}">[[${page}]]</a>
			</li>
			<li th:if="${list.next}">
				<a th:href="@{guestbook/list(page=${list.end + 1)})}">Next</a>			
			</li>
		</ul>
-->
	</th:block>


</th:block>